html,
body {
  margin: 0;
  background-color: #f4f8fb;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.profile-tabs > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.danger-row > * {
  background: rgba(255, 0, 0, 0.2);
}
